/setup/glassfish-resources.xml
/src/test/java/gov/nysenate/inventory/server/DbConnectTest.java

build/
target/

*.class
*.jar

*.properties
!*log4j.properties
*.log

# IntelliJ
/.idea/workspace.xml
/.idea/libraries
