connectionString=driver:@server:port:database
user=username
password=password
myWpAPI=myWpAPI
pickupEmailto1=
pickupEmailNameTo1=
pickupEmailTo2=
pickupEmailNameTo1=
pickupEmailFrom=
pickupEmailNameFrom=
pickupReceiptURL=
smtpServer=
webFileUrl=
testingMode=TRUE
dbaUrl=
downloadPath=\\path\\to\\filename\\for\\windows  OR /path/to/filename for unix/linux
receiptPath=\\path\\to\\filename\\for\\windows  OR /path/to/filename for unix/linux
report.gen.retry_limit=3
report.gen.wait_interval=120
